@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

header {
    background: url('../img/header-bg-blurred.jpg');
    padding: 8em 1em;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 300%;
}

header h2 {
    font-size: 200%;
}

.section-content {
    width: 72%;
    margin: 2em auto;
}

main section h2 {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
}

main section p, main section li {
    line-height: 1.8;
}

section img {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 1.25em;
}

#about img {
    float: left;
    width: 160px;
    border-radius: 100%;
    margin-right: 2em;
    margin-top: 0;
    margin-bottom: 1em;
}

#skills {
    background: rgb(240, 240, 240);
}

#work p {
    text-align: center;
}

#work figcaption {
    padding-top: 1em;
}

.grid {
    display: grid;
    grid-template: auto auto / 50% 50%;
    grid-gap: 3em;
}

.grid-left {
    grid-column: 1 / 2;
}

.grid-right {
    grid-column: 2 / 3;
}