@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

a:link, a:visited {
    text-decoration: none;
    color: unset;
}

hr {
    max-width: 50%;
    height: 2px;
    border: none;
    border-style: hidden;
    background: linear-gradient(to right, rgba(200, 200, 200, .1) 0%, #aaa 50%, rgba(200, 200, 200, .1) 100%);
}

header {
    background: url('../img/header-bg-blurred.jpg');
    padding: 8em .6em;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 200%;
}

header h2 {
    font-size: 150%;
}

.navbar {
    background: rgb(44, 44, 44);
}

.navbar .nav-link {
    color: white;
    margin-left: .5em;
    margin-right: .5em;
}

.navbar .nav-link:hover {
    color: rgb(185, 185, 185);
}

.navbar .nav-link.active {
    border-bottom: 1px solid white;
}

main {
    margin: 2em 1.5em 0;
}

main .section-content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 5em;
}

main section h2 {
    text-align: center;
    padding-bottom: 1em;
    font-size: 200%;
}

main section p, main section li {
    line-height: 1.8;
}

#my-picture {
    display: none;
}

#contact-method a {
    display: block;
    padding: 1em;
    margin-top: 1em;
    text-align: center;
    background: rgb(225, 225, 225);
    border-radius: 5px;
}

#contact-method a:hover {
    transition: .7s;
    background: rgb(175, 175, 175);
}

footer {
    background: rgb(44, 44, 44);
    padding: .1em;
}

footer p {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 90%;
    color: white;
}

@media (min-width: 425px) {
    header {
        padding: 8em 1em;
    }

    header h1 {
        font-size: 225%;
        margin-top: .5em;
        margin-bottom: .5em;
    }

    header h2 {
        font-size: 175%;
        margin-top: .5em;
        margin-bottom: .5em;
    }

    .navbar .nav-link {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
}

@media (min-width: 768px) {
    main .section-content {
        width: 70%;
    }

    header h1 {
        font-size: 250%;
    }

    header h2 {
        font-size: 200%;
    }
}

@media (min-width: 992px) {
    #my-picture {
        display: block;
    }

    header h1 {
        font-size: 300%;
    }
}